@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html {
    font-size: 62.5%;     //1rem = 10px
    min-height: 100vh;

}

body {
    min-height: 100vh;
    box-sizing: border-box;
}

// .container {

// }


.text-align {
    text-align: center;
}

.navbar {
    padding: 5rem;
    background-color: hsl(219, 30%, 18%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo {
        width: 15rem;
        height: 4.7rem;
    }
    
    &__items {
        display: flex;
        list-style: none;
    }   
    
    &__item {
        
        &:not(:last-of-type) {
            margin-right: 3rem;
        }
    }
    
    &__links {
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
    }
}

.hero {
    padding-bottom: 19rem;
    position: relative;
    background-color: hsl(219, 30%, 18%);
    text-align: center;

    &__image {
        max-width: 64rem;
        height: 100%;
    }



    &::after {
        content: "";
        display: block;
        background-image: url(../images/bg-curvy-desktop.svg);
        width: 100%;
        height: 48%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
    
   
    
    &__content {
        color: #fff;
        position: relative;
        z-index: 10;
    }
    
    &__header {
        margin: 0 auto;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 2.4rem;
        color: currentColor;
        max-width: 41.4rem;
    }

    &__paragraph {
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        color: currentColor;
        max-width: 40.4rem;
        
    }
    
    &__button {
        all: unset;
        padding: 1.2rem 5rem;
        color: currentColor;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        background-color: hsl(224, 93%, 58%);
        border-radius: 30px;
    }
}


.cta {
    background-color: hsl(218, 28%, 13%);
}

.main {
    padding: 0 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-gap: 4rem;
    text-align: center;

    

    &__content {
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }

    &__image {
        margin-bottom: 2rem;
        
    }
    
    &__header {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-family: inherit;
        color: currentColor;
    }

    &__paragraph {
        font-size: 1.3rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: currentColor;
        opacity: .75;
    }
}

.productive {
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 3rem;
    color: #fff;


    &__header {
        color: currentColor;
        font-size: 3.4rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        max-width: 33.3rem;
    }

    &__right-section {
        min-width: 33.3rem;
       
    }

    &__paragraph--1, 
    &__paragraph--2 {
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;   
        opacity: .75;
        max-width: 42rem;
    }

    &__works {
        display: flex;
        align-items: center;
        width: max-content;
        border-bottom: 1px solid white;
        grid-gap: .5rem;
        cursor: pointer;
    }
    
    &__works-text {
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;   
        opacity: .5;
        line-height: 2;
    }

    &__works-image {
        margin-top: .5rem;
        width: 1.2rem;
        height: 1.2rem;
    }
}

.founders {
    
    &__container {
        
        margin: 12rem 0;
        padding: 0 10rem;
        display: flex;
        grid-gap: 3rem;
        position: relative;

        // &::before {
        //     content: "";
        //     display: block;
        //     position: relative;
        //     background-image: url(../images/bg-quotes.png);
        //     width: 100px;
        //     height: 100px;
        // background-repeat: no-repeat;
        // background-size: 50%;
        // }
    }

    &__quotes {
        position: absolute;
        top: -48px;
    }

    &__card {   
        background-color: hsl(219, 30%, 18%);
        padding: 3.5rem 2.5rem 2.5rem 2.5rem;
        border-radius: 5px;
        box-shadow: .6rem .6rem 0rem rgba(0, 0, 0, 20%);
    }

    &__paragraph {
        margin-bottom: 2.5rem;
        color: #fff;
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;   
        opacity: .75;
    }

    &__profile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__image {
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        border-radius: 20px;
    }

    &__person {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;

        &--name {
            color: inherit;
            font-family: inherit;
            font-size: 1.2rem;
            font-weight: inherit;
        }

        &--position {
            font-size: .8rem;
            font-weight: inherit;
            opacity: .75;
        }
    }

    &__modal {
        background-color: hsl(218, 28%, 13%);
        margin: 0 auto;
        max-width: 55vw;
        padding: 4rem 7rem;
        border-radius: 6px;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 6);
        transform: translateY(35%);


    }

    &__modal-header {
        color: white;
        font-size: 3.2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-align: center;
    }

    &__modal-paragraph {
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;   
        max-width: 80ch;
        margin: 0 auto;
        color: #fff;
        opacity: .75;
    } 


    &__input-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-gap: 3rem;
        margin-top: 3rem;
    }

    &__input {  
        flex-basis: 68%;
        padding: 1.3rem 3.5rem;
        border: none;
        border-radius: 30px;

        &::placeholder {
            color:  hsl(176, 68%, 64%);
        }

        &:focus-visible {
            outline: none;
        }
    }

    &__button {
        all: unset;
        padding: 1.5rem 2.5rem;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 1.3rem;
        background-color: hsl(224, 93%, 58%);
        border-radius: 30px;
    }
}

.footer {
    background-color: hsl(216, 53%, 9%);
    padding: 16rem 8rem 8rem 10rem;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__lorem {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        max-width: 22rem;
        opacity: .75;
    }

    &__section {

        &-1 {
            display: flex;
            grid-gap: 2rem;
        }

        &-2 {
            display: flex;
            flex-direction: column;
        }
    }

    &__location {
        align-self: flex-start;
    }

    &__phone {
        display: flex;
        align-items: center;
        grid-gap: 1.3rem;

        &-icon {
            width: 1.2rem;
        }

        &-number {
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            opacity: .75;
        }
    }

    &__mail {
        display: flex;
        align-items: center;
        grid-gap: 1.3rem;

        &-icon {
            width: 1.2rem;
        }

        &-number {
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            opacity: .75;
        }
    }

    &__items {
        list-style: none;
    }

    &__item {
        text-decoration: none;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        opacity: .75;

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }

    &__facebook-icon,
    &__twitter-icon,
    &__instagram-icon {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        
        &:not(:last-of-type) {
            margin-right: .7rem;
        }
    }

}






//Utilites helper classes

.mb-sm {
    margin-bottom: 1rem;
}
.mb-md {
    margin-bottom: 2rem;
}
.mb-xl {
    margin-bottom: 3rem;
}
.mb-xxl {
    margin-bottom: 6rem;
}

.mt-sm {
    margin-top: 1rem;
}
.mt-md {
    margin-top: 2rem;
}
.mt-xl {
    margin-top: 3rem;
}
.mt-xxl {
    margin-top: 6rem;
}
.mt-xxxl {
    margin-top: 10rem;
}