@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html {
    font-size: 62.5%;     //1rem = 10px
    min-height: 100vh;

}

body {
    min-height: 100vh;
    box-sizing: border-box;
}

// .container {

// }

.navbar {
    padding: 5rem;
    background-color: hsl(219, 30%, 18%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo {
        width: 15rem;
        height: 4.7rem;
    }
    
    &__items {
        display: flex;
        list-style: none;
    }   
    
    &__item {
        
        &:not(:last-of-type) {
            margin-right: 3rem;
        }
    }
    
    &__links {
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
    }
}

.hero {
    padding-bottom: 19rem;
    position: relative;
    background-color: hsl(219, 30%, 18%);
    text-align: center;

    &__image {
        max-width: 64rem;
        height: 100%;
    }



    &::after {
        content: "";
        display: block;
        background-image: url(../images/bg-curvy-desktop.svg);
        width: 100%;
        height: 48%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
    
   
    
    &__content {
        color: #fff;
        position: relative;
        z-index: 10;
    }
    
    &__header {
        margin: 0 auto;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 2.4rem;
        color: currentColor;
        max-width: 41.4rem;
    }

    &__paragraph {
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        color: currentColor;
        max-width: 40.4rem;
        
    }
    
    &__button {
        all: unset;
        padding: 1.2rem 5rem;
        color: currentColor;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        background-color: hsl(224, 93%, 58%);
        border-radius: 30px;
    }
}


.cta {
    background-color: hsl(218, 28%, 13%);
}

.main {
    padding: 0 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-gap: 4rem;
    text-align: center;

    

    &__content {
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }

    &__image {
        margin-bottom: 2rem;
        
    }
    
    &__header {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-family: inherit;
        color: currentColor;
    }

    &__paragraph {
        font-size: 1.3rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: currentColor;
        opacity: .75;
    }
}

.productive {
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 3rem;

    &__image {

    }

    &__right-section {

        &__hero-header {

        }
    }

    &__paragraph-1 {
        
    }

    &__paragraph-2 {

    }

    &__works {
        
    }

    &__works-image {

    }
}




//Utilites helper classes

.mb-sm {
    margin-bottom: 1rem;
}
.mb-md {
    margin-bottom: 2rem;
}
.mb-xl {
    margin-bottom: 3rem;
}
.mb-xxl {
    margin-bottom: 6rem;
}

.mt-sm {
    margin-top: 1rem;
}
.mt-md {
    margin-top: 2rem;
}
.mt-xl {
    margin-top: 3rem;
}
.mt-xxl {
    margin-top: 6rem;
}
.mt-xxxl {
    margin-top: 10rem;
}