
//Utilites helper classes

.mb-sm {
    margin-bottom: 1rem;
}
.mb-md {
    margin-bottom: 2rem;
}
.mb-xl {
    margin-bottom: 3rem;
}
.mb-xxl {
    margin-bottom: 6rem;
}

.mt-sm {
    margin-top: 1rem;
}
.mt-md {
    margin-top: 2rem;
}
.mt-xl {
    margin-top: 3rem;
}
.mt-xxl {
    margin-top: 6rem;
}
.mt-xxxl {
    margin-top: 10rem;
}